/* --- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 
Medium: 
Bold: 

- Line heights
Default: 
Small: 
Medium: 
Paragraph default: 1.6
Large: 

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: 
- Tints:

- Shades: 


- Accents:
- Greys


--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  /* color: #555; */
}

.container {
  display: grid;
  grid-template-columns: 5vw 95vw;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

.center-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

/**************************/
/*       NAVEGATION       */
/**************************/
.navegation {
  font-size: 2.4rem;
  gap: 4rem;
}

ul {
  flex-direction: column;
  gap: 1.2rem;
  list-style-type: none;
}

.vertical {
  height: 6.5rem;
  border-left: 1px solid #000000;
}

/**************************/
/*          MAIN          */
/**************************/
main {
  background-color: antiquewhite;
}
/**************************/
/*        ABOUT ME        */
/**************************/
.about-me {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  margin-bottom: 12.8rem;
}

.personal-info {
  flex-direction: column;
}

h1 {
  margin-top: 9.6rem;
  font-size: 8.6rem;
  font-weight: 700;
  letter-spacing: -3.2px;
  margin-bottom: -1.2rem;
}

.position {
  font-size: 3rem;
  margin-bottom: 3.2rem;
  font-weight: 300;
}

.personal-description {
  font-size: 1.6rem;
  line-height: 1.2em;
  margin: 0 0 4.8rem 3.2rem;
}

.image {
  grid-area: 2/2/3/3;
}

.coding-img {
  width: 52rem;
  height: 52rem;
}

/**************************/
/*         SKILLS        */
/**************************/
h2 {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 8.8rem;
  margin-left: 35rem;
}

.skills {
  flex-direction: column;
  margin-bottom: 12.8rem;
}

.skills-logos {
  margin-bottom: 6.4rem;
}
.list-skills {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  flex-direction: row;
  font-size: 5.2rem;
  justify-items: center;
  gap: 4rem;
}

/* .list-skills > li {
  justify-content: center;
  align-items: center;
} */

.n1 {
  grid-area: 1/2/2/3;
}

.e1 {
  grid-area: 2/3/3/4;
}

.s1 {
  grid-area: 3/2/4/3;
}

.w1 {
  grid-area: 2/1/3/2;
}

.n2 {
  grid-area: 1/6/2/7;
}

.e2 {
  grid-area: 2/7/3/8;
}

.s2 {
  grid-area: 3/6/4/7;
}

.w2 {
  grid-area: 2/5/3/6;
}

/**************************/
/*         PROJECTS       */
/**************************/

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.projects {
  flex-direction: column;
  background-color: blueviolet;
}

.projects-list {
  width: 75%;
  margin-bottom: 8.8rem;
}

.project-img {
  grid-area: 1/1/2/7;
  background-color: red;
  height: 35rem;
  width: 55rem;
}

.project-content {
  grid-area: 1/6/2/13;
  margin-top: 4.8rem;
}

.project {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 300;
}

h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.project-description {
  font-size: 1.8rem;
  z-index: 9999;
  margin-bottom: 3.2rem;
}

.project-tools {
  flex-direction: column;
}

.project-tools-used {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/**************************/
/*       CONTACT ME       */
/**************************/
.contact-me {
  flex-direction: column;
}
.contact-me-form {
  background-color: black;
  height: 15rem;
  width: 15rem;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

/**************************/
/*         FOOTER         */
/**************************/
footer {
  grid-area: 2/1/3/3;
  display: flex;
  justify-content: center;
  background-color: aqua;
}
